*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red;
    outline-offset: -1px; */
}

#banner{
    width: 100%;
    padding: 0 60px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}

#banner ul{
    display: flex;
}

#banner ul li img{
    display: none;
}

#banner ul li.active img{
    display: block;
}

#banner .anterior,
#banner .posterior{
    width: 70px;
    height: 70px;
    border: 15px solid transparent;
    border-left-color: white;
    border-bottom-color: white;
    transform: rotate(45deg);
}

#banner .posterior{
    transform: rotate(-135deg);
}